@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Colors */
  --primary-25: #FBFDFF;
  --primary-50: #F2F7FF;
  --primary-100: #D7E6FD;
  --primary-200: #ABC9F9;
  --primary-300: #7BA8F3;
  --primary-400: #4B84E2;
  --primary-500: #1961D3;
  --primary-600: #084DB4;
  --primary-700: #003B92;
  --primary-800: #002A6E;
  --primary-900: #011D50;
  --primary-1000: #041638;

  /* Neutral Colors */
  --neutral-0: #FFFFFF;
  --neutral-25: #FBFCFD;
  --neutral-50: #F3F5F8;
  --neutral-100: #E5E8ED;
  --neutral-200: #C9CED6;
  --neutral-300: #A7AEBB;
  --neutral-400: #86909F;
  --neutral-500: #545E6F;
  --neutral-600: #3B4350;
  --neutral-700: #2E3642;
  --neutral-800: #1C222B;
  --neutral-900: #090B0F;

  /* Success Colors */
  --success-25: #FAFEFA;
  --success-50: #F1FAF1;
  --success-100: #D7EBD7;
  --success-200: #A9D5AA;
  --success-300: #75BC78;
  --success-400: #3D9D46;
  --success-500: #008020;
  --success-600: #006818;
  --success-700: #005211;
  --success-800: #003C0A;
  --success-900: #002B05;
  --success-1000: #002003;

  /* Warning Colors */
  --warning-25: #FFFDF6;
  --warning-50: #FEF7E1;
  --warning-100: #FDEEC1;
  --warning-200: #FFE79C;
  --warning-300: #FFDF7B;
  --warning-400: #FFD95E;
  --warning-500: #FED33E;
  --warning-600: #E8C031;
  --warning-700: #CFAA23;
  --warning-800: #AC8C0E;
  --warning-900: #786100;
  --warning-1000: #584600;

  /* Danger Colors */
  --danger-25: #FFFCFC;
  --danger-50: #FFF4F3;
  --danger-100: #FBDCDA;
  --danger-200: #F5B5B1;
  --danger-300: #EA8884;
  --danger-400: #D35958;
  --danger-500: #BA2A33;
  --danger-600: #A00D21;
  --danger-700: #810016;
  --danger-800: #61000E;
  --danger-900: #460108;
  --danger-1000: #320608;

  /* Info Colors */
  --info-25: #F4FEFE;
  --info-50: #E3FBFC;
  --info-100: #C7EDEF;
  --info-200: #9DD3D5;
  --info-300: #70B5B9;
  --info-400: #429599;
  --info-500: #10777C;
  --info-600: #066166;
  --info-700: #004C50;
  --info-800: #00383B;
  --info-900: #00282A;
  --info-1000: #001B1C;

  /* Radius Tokens */
  --radius-none: 0;
  --radius-sm: 0.125rem;
  --radius-st: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-circular: 999px;

  /* Spacing Tokens */
  --space-none: 0;
  --space-si: 0.125rem;
  --space-ti: 0.25rem;
  --space-ni: 0.375rem;
  --space-mi: 0.5rem;
  --space-xs: 0.75rem;
  --space-sm: 1rem;
  --space-st: 1.25rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 2.25rem;
  --space-2xl: 2.5rem;
  --space-3xl: 3rem;
  --space-4xl: 3.5rem;
  --space-5xl: 4rem;
  --space-6xl: 4.5rem;
  --space-7xl: 5rem;
}

/* Typography Tokens */
.tiny-regular {
  font-size: 0.625rem;
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: 0;
}

.tiny-medium {
  font-size: 0.625rem;
  line-height: 1rem;
  font-weight: 500;
  letter-spacing: 0;
}

.tiny-semibold {
  font-size: 0.625rem;
  line-height: 1rem;
  font-weight: 600;
  letter-spacing: 0;
}

.caption-regular {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: 0;
}

.caption-medium {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  letter-spacing: 0;
}

.caption-semibold {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  letter-spacing: 0;
}

.para-regular {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0;
}

.para-medium {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  letter-spacing: 0;
}

.para-semibold {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0;
}

.lead-regular {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
}

.lead-medium {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0;
}

.lead-semibold {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: 0;
}

.heading-3xl {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 600;
  letter-spacing: -0.32px;
}

.heading-2xl {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.24px;
}

.heading-xl {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.16px;
}

.heading-lg {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.08px;
}

.heading-md {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: 0;
}

.heading-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0;
}
